:root {
  --white-color: #ffffff;
  --pink-color: #fd018a;
  --shadow-effect: 0px 6px 32px rgba(0, 0, 0, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", serif;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.shopping_cart_icon_box > i {
  background-color: #1f1f39;
  color: var(--white-color);
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.dropdown_icon {
  font-size: 10px;
}

.categories_bar_parent_li {
  position: relative;
}

.categories_bar_parent_li:hover .dropdown_icon {
  transform: rotate(180deg);
}

.categories_bar {
  position: absolute;
  top: 4rem;
  width: 90vw;
  left: 50%;
  background: var(--white-color);
  box-shadow: var(--shadow-effect);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid #e5e7eb;
  transition: opacity 300ms ease, visibility 300ms ease;
  transform: translate(-50%, -50%);
}

.category_btn {
  background: transparent;
  transition: all 300ms ease;
  border: 1px solid transparent;
}

.categories_bar_parent_li:hover .categories_bar {
  opacity: 1;
  visibility: visible;
}

.active_category_btn {
  color: var(--pink-color);
  position: relative;
}

.active_category_btn::after {
  content: "";
  display: block;
  background: var(--pink-color);
  width: 100%;
  height: 2px;
  position: absolute;
  top: 2.5rem;
  z-index: 1;
  right: 0;
}

.products_category_mega_menu_container {
  position: absolute;
  top: 2.7rem;
  width: 100%;
  background: var(--white-color);
  box-shadow: var(--shadow-effect);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em;
}

.women_products_banner_div {
  background-image: url("/images/women.jpg");
}

.men_products_banner_div {
  background-image: url("/images/men.jpg");
}

.kids_products_banner_div {
  background-image: url("/images/kids.jpg");
}

.product_category_banner_div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25em;
  border-radius: 10px;
}

.mega_menu_products_link:hover {
  color: var(--pink-color) !important;
  text-decoration: underline !important;
}

.men_category_mega_menu_container,
.women_category_mega_menu_container,
.kids_category_mega_menu_container {
  opacity: 0;
  visibility: hidden;
}

.men_category_mega_menu_container.showhide_megamenu_container,
.women_category_mega_menu_container.showhide_megamenu_container,
.kids_category_mega_menu_container.showhide_megamenu_container {
  opacity: 1;
  visibility: visible;
}

.header_inner {
  background: #f0f8ff;
}

.projectdetails-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headline {
  font-weight: normal;
  color: #252525;
}

.description {
  color: #acacac;
  font-weight: 500;
}
